@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Cavaleiro da Lua</h1>
    <p class="lead">A série Cavaleiro da Lua é uma série de televisão sobre o personagem ficcional de mesmo nome das histórias em quadrinhos ou Banda desenhada do Universo Marvel, publicadas pela Marvel Comics. </p>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://observatoriodocinema.uol.com.br/wp-content/uploads/2022/03/cavaleiro-da-lua-1200x900-1.jpg">
            <h4>Astro de Cavaleiro da Lua dá decepcionante notícia sobre 2ª temporada</h4>
            <p>Oscar Isaac, que vive o personagem titular, confirmou que não há planos para uma segunda temporada...</p>
            <a href="https://observatoriodocinema.uol.com.br/series-e-tv/astro-de-cavaleiro-da-lua-da-decepcionante-noticia-sobre-2a-temporada">Leia a notícia completa</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://observatoriodeseries.uol.com.br/wp-content/uploads/2021/08/Cavaleiro-da-Lua-3.jpg">
            <h4>Fã de Cavaleiro da Lua faz cosplay do super-herói e surpreende</h4>
            <p>O cosplayer mexicano Andrew Castañeda surpreendeu seus fãs do Instagram ao publicar um ensaio de fotos em que fez cosplay...</p>
            <a href="https://observatoriodeseries.uol.com.br/disney-plus/marvel/fa-de-cavaleiro-da-lua-faz-cosplay-do-super-heroi-e-surpreende">Veja como ficou</a>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://observatoriodatv.uol.com.br/wp-content/uploads/2022/05/cavaleiro-da-lua-oscar-isaac-jake-lockley.jpg">
            <h4>Jake Lockley, a 3° personalidade do personagem</h4>
            <p>Na cena pós-crédito do ultimo episódio, conhecemos Jake Lockley. Ele aparece dirigindo uma limusine branca, com Khonshu no banco de trás...</p>
            <a href="https://observatoriodatv.uol.com.br/series/saiba-quem-e-jake-lockley-a-terceira-personalidade-do-cavaleiro-da-lua">Saiba mais</a>
        </div>
    </div>
</div>


<style>
    .card{
        display:flex;
        flex-direction:column;
        width:250px;
        padding:20px;
        border:1px solid #131313;
        border-radius:10px;
        font-size:1em;
        margin:10px;
        background:#fff;
    }
    .card img{
        width:100%;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:center;
    }
    .jumbotron{
        color:#121212;
        border-radius:100%;
        background:#fff;
        margin-bottom:50px;
        border:2px solid #121212;
    }
    body {
        background-image: url("https://wallpaperaccess.com/full/1145374.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
 </style>

